body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
h1, h2, h3{
    margin: 0px;
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav .logo-name{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding: 24px 0px;
    display: flex;
    margin-right: 76px;
}
.logo-accent{
    color: #2E2F42;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}
.contacts{
    font-style: normal;
    margin-left: auto;
}
.info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
}
.info:hover,
.info:focus{
    color: #404bbf;
}
.section-one{
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
}
.main-title{
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    width: 496px;
    margin-top: 188px;
}
.main-button{
    background-color: #4D5AE5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 188px;
    padding: 16px 32px;
    border-radius: 4px;
}
.main-button:hover,
.main-button:focus{
    background-color: #404bbf;
}
.section-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.second-title{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 120px;
}
.section-three{
    background-color: #F4F4FD;
}
.picture{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 120px;
    width: calc((100% - 3*32px)/4);
}
.text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-section{
    background-color: #2E2F42;
}
footer .text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
}
footer .logo-name{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}
.logo-accent-two{
    color: #F4F4FD;
}
.container { 
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

header .container{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.benefits-list{
    display: flex;
    gap: 24px;
    margin: 156px 120px;
}
.benefit{
    width: calc((100% - 3*24px)/4);
}
.picture-section{
    display: flex;
    margin-top: 120px;
    gap: 24px;
}
.card-set{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
    padding-top: 72px;
    border-bottom: 1px solid #E7E9FC;
}
.item{
    width: calc((100% -120px)/6);
}
.footer-section{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 1020px;
    padding-left: 156px;
}
footer .text{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}